/* --------------------------------------------------------------
# Footer
-------------------------------------------------------------- */

.site-footer {
  ol,
  ul {
    @media (min-width: 992px) {
      -webkit-padding-start: 1rem;
      -moz-padding-start: 1rem;
      padding-inline-start: 1rem;
    }
  }

  .footer-widgets {
    @media (max-width: 991.98px) {
      padding-top: 80px;
      padding-bottom: 60px;
    }

    @media (min-width: 992px) {
      padding-top: 100px;
      padding-bottom: 95px;
    }

    .footer-widget {
      font-weight: 500;
      margin-bottom: 25px;

      a {
        color: #747474;
        font-weight: normal;

        &:hover {
          color: #bc5e49;
        }
      }

      .widget-title {
        color: #ebf0dc;
        margin-bottom: 20px;
      }

      ul {
        list-style: none;
        padding: 0;

        @media (min-width: 768px) {
          margin-bottom: 0;
        }

        li {
          padding: 0.4rem 0;
          font-weight: 500;
        }

        ul {
          -webkit-padding-start: 0;
          -moz-padding-start: 0;
          padding-inline-start: 0;

          @media (min-width: 992px) {
            -webkit-padding-start: 1rem;
            -moz-padding-start: 1rem;
            padding-inline-start: 1rem;
          }
        }
      }
    }

    .textwidget {
      .gform_wrapper {
        form {
          .gform_heading {
            .gform_title {
              margin-bottom: 16px !important;
              font-size: 20px;
            }
          }

          .gform_body {
            ul {
              margin: 0;
              list-style: none;
              padding: 0;

              li {
                label {
                  margin: 0 0 1.5rem 0 !important;
                }

                .ginput_container {
                  input {
                    display: block;
                    width: 100%;
                    padding: 1rem 1.5rem;
                    font-family: "Roboto", sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.7;
                    color: #2a5631;
                    background-color: transparent;
                    background-clip: padding-box;
                    border: 2px solid #e4e4e4;
                    appearance: none;
                    border-radius: 0;
                    margin-bottom: 20px !important;
                  }
                }
              }
            }
          }

          .gform_footer {
            position: relative;

            input[type="submit"] {
              padding: 0;
              background-color: transparent;
              border: none;
              color: #2a5631;
            }

            &::after {
              content: "";
              position: absolute;
              left: 55px;
              top: 7px;
              height: 16px;
              width: 15px;
              background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%232a5631%22%20d%3D%22M506.134%20241.843l-.018-.019-104.504-104c-7.829-7.791-20.492-7.762-28.285.068-7.792%207.829-7.762%2020.492.067%2028.284L443.558%20236H20c-11.046%200-20%208.954-20%2020s8.954%2020%2020%2020h423.557l-70.162%2069.824c-7.829%207.792-7.859%2020.455-.067%2028.284%207.793%207.831%2020.457%207.858%2028.285.068l104.504-104%20.018-.019c7.833-7.818%207.808-20.522-.001-28.314z%22%2F%3E%3C%2Fsvg%3E);
            }
          }
        }
      }
    }
  }

  .footer-bottom-area {
    padding-bottom: 50px;
    color: #747474;
    padding-top: 0;

    @media (min-width: 992px) {
      padding-top: 34px;
      padding-bottom: 34px;
    }

    .textwidget {
      display: flex;
    }

    i {
      font-size: 18px;
      width: 1.25em;
      color: #2a5631;

      &:hover {
        color: #bc5e49;
      }
    }

    .border-icon {
      border-radius: 35px;
      padding-right: 10px;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .footer-nav {
      &.list-inline {
        li {
          display: inline-block;
          padding-top: 6px;
          padding-bottom: 6px;
          font-weight: 500;

          &:not(:last-child) {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

.footer-form {
  color: #747474;
  font-family: "Roboto", sans-serif;
  border-width: 3px;
  font-weight: bold;

  &:hover {
    color: #bc5e49;
    border-color: #bc5e49;
  }
}

.testimonials-line-height {
  line-height: 38px;
}

.tab-font {
  @media (max-width: 767.98px) {
    font-size: 24px;
    line-height: 30px;
  }
}

.form-control {
  background-color: #f4f4f4;
}

.footer-input {
  background-color: transparent;
  padding-left: 0;

  &:focus {
    background-color: transparent;
  }
}
