/* --------------------------------------------------------------
# Shop
-------------------------------------------------------------- */
.price {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #bc5e49;
  margin-bottom: 16px;
}
