/* --------------------------------------------------------------
# Custom Height
-------------------------------------------------------------- */

@media (min-width: 992px) {
  .height-px-780 {
    height: 780px;
  }
}

@media (max-width: 991.98px) {
  .height-px-780 {
    height: 700px;
  }
}

@media (max-width: 767.98px) {
  .height-px-780 {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .height-px-730 {
    height: 730px;
  }
}

@media (min-width: 992px) {
  .height-px-700 {
    height: 700px;
  }
}

@media (min-width: 992px) {
  .height-px-750 {
    height: 756px;
  }
}

@media (max-width: 991.98px) {
  .height-px-750 {
    height: 600px;
  }
}

@media (max-width: 767.98px) {
  .height-px-750 {
    height: 320px;
  }
}

@media (min-width: 992px) {
  .height-px-774 {
    height: 774px;
  }
}

@media (max-width: 991.98px) {
  .height-px-774 {
    height: 600px;
  }
}

@media (max-width: 767.98px) {
  .height-px-774 {
    height: 320px;
  }
}

@media (min-width: 992px) {
  .height-px-650 {
    height: 650px;
  }
}

@media (min-width: 992px) {
  .height-px-630 {
    height: 630px;
  }
}

@media (max-width: 991.98px) {
  .height-px-630 {
    height: 600px;
  }
}

@media (max-width: 767.98px) {
  .height-px-630 {
    height: 320px;
  }
}

@media (min-width: 768px) {
  .height-px-600 {
    height: 600px;
  }
}

@media (max-width: 767.98px) {
  .height-px-600 {
    height: 320px;
  }
}

@media (min-width: 768px) {
  .height-px-614 {
    height: 614px;
  }
}

@media (max-width: 767.98px) {
  .height-px-614 {
    height: 320px;
  }
}

@media (min-width: 992px) {
  .height-px-320 {
    height: 320px;
  }
}

.height-px-200 {
  height: 90px;
  width: 170;
}

@media (max-width: 991.98px) {
  .height-px-200 {
    height: 70px;
  }
}

.height-px-150 {
  height: 150px;
}

@media (min-width: 992px) {
  .height-px-350 {
    height: 350px;
  }
}

@media (min-width: 992px) {
  .height-px-355 {
    height: 355px;
  }
}

@media (min-width: 992px) {
  .height-px-382 {
    height: 383px;
  }
}

@media (max-width: 991.98px) {
  .height-px-382 {
    height: 600px;
  }
}

@media (max-width: 767.98px) {
  .height-px-382 {
    height: 320px;
  }
}

@media (min-width: 992px) {
  .height-px-407 {
    height: 407px;
  }
}

@media (min-width: 992px) {
  .height-px-414 {
    height: 414px;
  }
}

@media (min-width: 992px) {
  .height-px-456 {
    height: 456px;
  }
}

@media (max-width: 991.98px) {
  .height-px-456 {
    height: 600px;
  }
}

@media (max-width: 767.98px) {
  .height-px-456 {
    height: 320px;
  }
}

@media (min-width: 992px) {
  .height-px-460 {
    height: 460px;
  }
}

@media (max-width: 991.98px) {
  .height-px-460 {
    height: 480px;
  }
}

@media (max-width: 767.98px) {
  .height-px-460 {
    height: 320px;
  }
}

@media (min-width: 992px) {
  .height-px-472 {
    height: 472px;
  }
}

@media (min-width: 992px) {
  .height-px-440 {
    height: 440px;
  }
}

@media (max-width: 991.98px) {
  .height-px-440 {
    height: 320px;
  }
}

@media (max-width: 767.98px) {
  .height-px-440 {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .height-px-408 {
    height: 408px;
  }
}

@media (max-width: 991.98px) {
  .height-px-408 {
    height: 608px;
  }
}

@media (max-width: 767.98px) {
  .height-px-408 {
    height: 320px;
  }
}

@media (min-width: 992px) {
  .height-px-520 {
    height: 520px;
  }
}

@media (min-width: 992px) {
  .height-px-542 {
    height: 542.99px;
  }
}

@media (min-width: 992px) {
  .height-px-550 {
    height: 550px;
  }
}

@media (max-width: 991.98px) {
  .height-px-550 {
    height: 600px;
  }
}

@media (max-width: 767.98px) {
  .height-px-550 {
    height: 320px;
  }
}

@media (min-width: 992px) {
  .height-px-500 {
    height: 500px;
  }
}

@media (min-width: 992px) {
  .height-px-413 {
    height: 413px;
  }
}

@media (min-width: 992px) {
  .height-px-50 {
    height: 80px;
  }
}

@media (min-width: 992px) {
  .height-px-853 {
    height: 853px;
  }
}

@media (max-width: 991.98px) {
  .height-px-853 {
    height: 600px;
  }
}

@media (max-width: 767.98px) {
  .height-px-853 {
    height: 320px;
  }
}

.line-height-35 {
  line-height: 35px;
}

.height-px-60 {
  height: 60px;
}

@media (max-width: 991.98px) {
  .height-px-60 {
    height: 170px;
    width: 170px;
  }
}
